
.contenedor2{
    display: grid;
    grid-template-rows: 60px 300px 1fr 300px;
    grid-template-columns: repeat(4, 4fr);
    grid-template-areas: 
    "nav nav nav nav"
    "tisobremi tisobremi tisobremi tisobremi"
    "sobremi sobremi sobremi sobremi"
    "footer footer footer footer"
    ;
}


.titulosobremi {
    grid-area: tisobremi;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fuentes;
    color: #F2F4F4;
    letter-spacing: 2px;
    font-size: 60px;
    text-shadow: 6px 6px black;
    background-image: url("../multimedia/fotomi.jpg");
    background-position: center;
}

.principalsobremi{
    grid-area: sobremi;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Slab', serif;
    justify-content: space-evenly;
    background-color: black;
    .textosobremi{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 80px;
        p{
            color: white;
            font-size: 27px;
            padding: 20px;
        }
        h4{
            font-size: 50px;
            padding: 10px;
            margin: 20px;
            color: #F4D03F;
            text-shadow: 2px 2px black;
        }
    }
}




