@import "variables";
@import "portafolio";
@import "sobremi";
@import "contacto";
@import "servicios";
@import "mediaqueries";

/*-----------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-----------------------------------------------------*/


.contenedor{
    display: grid;
    grid-template-rows: 60px 800px 300px;
    grid-template-columns: repeat(4, 4fr);
    grid-template-areas: 
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "footer footer footer footer"
    ;
    }


    /*-----------------------------------------------------*/
header{
    grid-area: nav;
    background-color: black;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navegacion{
    @include flexbox;
    .logo{
        display: flex;
        color: #F4D03F;
        font-family: $fuentes;
        text-decoration: none;
        font-size: 25px;
        justify-content: center;
            &:hover{
                color: white;
            }
    }
    .menu{
        display: flex;
        list-style: none;
        margin: 15px 10px 10px 10px;
    li{
        margin: 0 15px;
        font-family: $fuentes;
    
    a{
        color: gray;
        text-decoration: none;
        font-size: 21px;
        display: block;
        &:hover{
            color: white;
        }
    }
    }
    }
}
/*-----------------------------------------------------*/


.principal{
    grid-area: titulo;
    background-image: url("../multimedia/fondo3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    .titulo{
        @include flexbox;
        font-family: $fuentes;
        color: white;
        margin: 90px 5px 0px 5px;
        letter-spacing: 5px;
        font-size: 90px;
        text-shadow: 6px 6px black;
    }
    }



/*-----------------------------------------------------*/
footer{
    grid-area: footer;
    @include flexbox;
    flex-direction: column;
    background-color: map-get($estilos, fondo);
    color: black;
    font-family: $fuentes;
    h1{
        font-size: 40px;
        }
    ul{
        @include flexbox;
        list-style: none;
        padding: 20px;
        font-size: map-get($estilos, fuente);
        text-decoration: underline; 
        li{
            margin: 0 15px;
        a{
            text-decoration: none;
            color: map-get($estilos, color);
                &:hover{
                color: grey;
            }
        }
    }
    }
    h5{
        padding: 7px;
        font-size: 20px;
        font-weight: bold;
    }
}




/*-----------------------------------------------------*/



